body {
	font-family:Arial,Helvetica,Verdana,sans-serif;
	font-size:14px;
	color:#000;
}
body, html {
	height:100%;
}
body,html,div {
	margin:0;
	padding:0;
}
.clear {
	clear:both;
}
#copy-button {
	cursor:pointer;
	margin:1em 0 0 2em;
}
#messages {
	float:right;
	margin:1em 2em 0 0;
}
td.name a {
	text-decoration:none;
	color:#000;
}
td.name a:hover {
	text-decoration:underline;
}
#search {
	position:fixed;
	top:0;
	left:0;
	z-index:2;
	padding:1em 0;
	border-bottom:1px solid #000;
	-moz-box-shadow:0 4px 4px #CCC;
	-webkit-box-shadow:0 4px 4px #CCC;
	box-shadow:0 4px 4px #CCC;
	background:#DDD;
	width:100%;
}
#search label {
	margin:0 0.5em 0 2em;
	vertical-align:middle;
}
input,select,button,#messages {
	padding:0.3em 0.5em;
	font-family:Arial,Helvetica,Verdana,sans-serif;
	font-size:100%;
	color:#666;
	background:#FFF;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #999;
}
input[type=submit],button {
	background: -moz-linear-gradient(top, #BBB, #444, #666);
	background: -webkit-linear-gradient(top, #BBB, #444, #666);
	background: linear-gradient(top, #BBB, #444, #666);
	color:#FFF;
	font-size:85%;
	font-weight:bold;
}
#header {
	margin:5em 0 1em;
	padding:1em;
	background:#EEE;
}
#content {
	position:relative;
	z-index:1;
}
th {
	border-bottom:2px solid #CCC;
	text-align:left;
}
td,th {
	padding:0.3em 0.5em;
}
tr.even td {
	background:#EEE;
}
#test-copy {
	width:20em;
}
